<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oleeb.calendarthai"
    android:versionCode="@integer/code_version"
    android:versionName="@string/app_version" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <provider
            android:name=".holiday.HolidayProvider"
            android:authorities="com.oleeb.calendarthai.holiday.HolidayProvider" />
        <provider
            android:name=".buddhamoonphase.BuddhaMoonPhaseProvider"
            android:authorities="com.oleeb.calendarthai.buddhamoonphase.BuddhaMoonPhaseProvider" />

        <receiver android:name=".CalendarThaiWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oleeb.calendarthai.action.ACTION_SETTING" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendarthai_widget_info" />
        </receiver>
        <!--
        <receiver android:name=".receiver.CalendarThaiReceiver" >
        </receiver>
        -->
        <activity
            android:name=".CalendarThaiActivity"
            android:theme="@style/CalendarThaiTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarThaiSettingsActivity"
            android:theme="@style/CalendarThaiTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
